{
  "arrowParens": "always",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "embeddedLanguageFormatting": "auto",
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "jsxSingleQuote": true,
  "printWidth": 140,
  "proseWrap": "preserve",
  "quoteProps": "consistent",
  "requirePragma": false,
  "semi": false,
  "singleAttributePerLine": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false,
  "vueIndentScriptAndStyle": false,
  "importOrder": [
    "react$|^react-(.)|styled-components",
    "@wakacje",
    "next",
    "constants|routes",
    "react-hook-form|hooks|(.)/use(.*)$",
    "stores",
    "helpers|utils|api",
    "elements|ui",
    "components",
    "containers",
    "public",
    "types"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}